<div class="d-flex flex-column flex-grow-1">
  <ul>
    <li>
      <a class="btn btn-link logo" routerLink="">
        <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="logo">
      </a>
    </li>
  </ul>

  <ul class="flex-grow-1 main">
    <li *ngFor="let link of links">
      <a class="btn btn-link" [routerLink]="link.router" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="material-icons">{{ link.icon }}</i>
        <span>{{ link.text }}</span>
      </a>
    </li>
  </ul>
</div>

<ul>
  <li class="profile">
    <div>
      <img [src]="imgProfileURL" alt="Profile IMG" class="rounded">
      <span>{{ user.name }} {{ user.surname }}</span>
    </div>
  </li>
  <li>
    <a class="btn btn-link" routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <i class="material-icons">settings</i>
      <span>Mis datos</span>
    </a>
  </li>
  <li>
    <button class="btn btn-link" (click)="logout()">
      <i class="material-icons">logout</i>
      <span>Cerrar sesión</span>
    </button>
  </li>
</ul>
