@import "breakpoints";

:host, main{
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}
mat-drawer-content{
  display: flex;
  flex-direction: column;
}
mat-drawer-container{
  flex: 1;
}

@media #{$media-small-up}{
  mat-drawer{
    width: 12rem;
  }
}

:host::ng-deep{
  router-outlet + *{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
  }
}
