<header>
  <img src="assets/logo.png" alt="Musify Logo" />
</header>

<mat-divider></mat-divider>

<nav>
  <mat-nav-list>
    <mat-list-item>
      <mat-icon matListItemIcon>dashboard</mat-icon>
      <span matListItemTitle>Buscar</span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>dashboard</mat-icon>
      <span matListItemTitle>Buscar</span>
    </mat-list-item>
  </mat-nav-list>
</nav>

<mat-divider></mat-divider>

<mat-nav-list>
  <mat-list-item>
    <img src="assets/logo.png" alt="Musify Logo" matListItemAvatar />
    <h4 matListItemTitle>Ver perfil</h4>
    <span matListItemLine>Mauro Daniel Viveros Mauro Daniel Viveros</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>logout</mat-icon>
    <h4 matListItemTitle>cerrar sesión</h4>
  </mat-list-item>
</mat-nav-list>
