<form class="card shadow" [formGroup]="form" (submit)="submit()">
  <div class="card-header">Detalle del Album</div>
  <div class="card-body">

    <div class="mb-3">
      <label for="number">Número:</label>
      <div class="input-group">
        <div class="input-group-text"><i class="material-icons">tag</i></div>
        <input type="number" class="form-control" id="number" name="number" formControlName="number" min="1" placeholder="Ingrese la posición de la canción">
      </div>
    </div>

    <div class="mb-3">
      <label for="name">Nombre:</label>
      <div class="input-group">
        <div class="input-group-text"><i class="material-icons">library_music</i></div>
        <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Ingrese el nombre de la canción">
      </div>
    </div>

    <div class="mb-3">
      <label for="album">Album:</label>
      <div class="input-group">
        <div class="input-group-text"><i class="material-icons">book</i></div>
        <select class="form-select" id="album" name="album" formControlName="album">
          <option disabled selected value="">Seleccione el album</option>
          <option [value]="album._id" *ngFor="let album of albums">{{ album.name }}</option>
        </select>
      </div>
    </div>

    <div class="mb-3">
      <label for="duration">Duración:</label>
      <div class="input-group">
        <div class="input-group-text"><i class="material-icons">timelapse</i></div>
        <input type="text" class="form-control" id="duration" name="duration" formControlName="duration" placeholder="Ingrese la duración de la canción">
      </div>
    </div>
  </div>
  <div class="card-footer">
    <input type="submit" class="btn btn-success" [value]="actionText" [disabled]="form.invalid">
  </div>
</form>
