<h1 class="card-header text-center">Login</h1>
<form class="card-body needs-validation p-5" novalidate [formGroup]="form" (submit)="submit()">
  <div class="mb-3">
    <label for="email" class="form-label">Correo Electrónico:</label>
    <div class="input-group">
      <div class="input-group-text"><i class="material-icons">email</i></div>
      <input type="text" class="form-control" [ngClass]="validate('email')" id="email" name="email" formControlName="email" placeholder="Ingrese su email">
      <div class="invalid-feedback">El campo es obligatorio</div>
    </div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Contraseña:</label>
    <div class="input-group">
      <span class="input-group-text"><i class="material-icons">lock</i></span>
      <input [type]="showControl.value ? 'text' : 'password'" class="form-control" [ngClass]="validate('password')" id="password" name="password" formControlName="password" required placeholder="Ingrese su contraseña">
      <div class="invalid-feedback">El campo es obligatorio</div>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <div class="form-check">
      <label for="show" class="form-label">Ver contraseña</label>
      <input type="checkbox" class="form-check-input" name="show" id="show" [formControl]="showControl">
    </div>
    <button type="submit" class="btn btn-primary ms-auto" [disabled]="form.invalid">Login</button>
  </div>
</form>

<div class="card-footer py-3">
  <p class="text-center m-0">No tienes cuenta? <a routerLink="/auth/register" class="text-dark">Registrate</a></p>
</div>
