:host{
  header{
    display: flex;
    margin: 2rem 1rem;
    gap: 2rem;
    h1, p, button{ margin: .2rem 0; }
  }
  img{
    height: 10rem;
    width: 10rem;
    border-radius: 8px;
    border: 2px solid #1C1C1F;
  }
}
