<header>
  <img [src]="img" class="card-img-top" [alt]="album?.name">
  <section>
    <h1>{{ album?.name }}</h1>
    <p>{{ album?.artistName }}</p>
    <p>{{ album?.year }}</p>
    <p>{{ album?.description }}</p>
    <button class="btn btn-success me-1" (click)="createSong()">Añadir Canción</button>
    <button class="btn btn-warning me-1" (click)="edit()">Editar album</button>
    <button class="btn btn-danger" (click)="remove()">Borrar album</button>
  </section>
</header>
<hr>
<br>
<song-list [album]="album._id" *ngIf="album"></song-list>
