:host{
  .progress.indeterminate{
    height: 2px;
    .progress-bar{
      position: relative;
      animation: progress-indeterminate 2s linear infinite;
    }
  }
  section{
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    article{
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }
  }

}

@keyframes progress-indeterminate {
   from { left: -25%; width: 25%; }
   to { left: 100%; width: 25%;}
}
