<section>
  <shared-card [circle]="true" name="three days grace" description="artist" />
  <!-- <shared-card [circle]="true" name="three days grace" description="artist" /> -->
  <!-- <shared-card [circle]="true" name="three days grace" description="artist" /> -->
  <!-- <shared-card [circle]="true" name="three days grace" description="artist" /> -->
  <!-- <shared-card [circle]="true" name="three days grace" description="artist" /> -->
  <!-- <shared-card [circle]="true" name="three days grace" description="artist" /> -->
  <!-- <shared-card [circle]="true" name="three days grace" description="artist" /> -->
  <!-- <shared-card [circle]="true" name="three days grace" description="artist" /> -->
  <!-- <shared-card [circle]="true" name="three days grace" description="artist" /> -->
  <!-- <shared-card [circle]="true" name="three days grace" description="artist" /> -->
</section>
