<h1 class="card-header text-center">Register</h1>
<form class="card-body needs-validation p-5" novalidate [formGroup]="form" (submit)="submit()">

  <div class="mb-3">
    <label for="name">Nombre:</label>
    <div class="input-group">
      <div class="input-group-text"><i class="material-icons">face</i></div>
      <input type="text" class="form-control" [ngClass]="validate('name')" id="name" name="name" formControlName="name" placeholder="Ingrese su Nombre">

    </div>
  </div>

  <div class="mb-3">
    <label for="surname">Apellido:</label>
    <div class="input-group">
      <div class="input-group-text"><i class="material-icons">badge</i></div>
      <input type="text" class="form-control" [ngClass]="validate('surname')" id="surname" name="surname" formControlName="surname" placeholder="Ingrese su Apellido">
      <div class="invalid-feedback">El campo es obligatorio</div>
    </div>
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Correo Electrónico:</label>
    <div class="input-group">
      <div class="input-group-text"><i class="material-icons">email</i></div>
      <input type="text" class="form-control" [ngClass]="validate('email')" id="email" name="email" formControlName="email" placeholder="Ingrese su Correo">
      <div class="invalid-feedback">El campo es obligatorio</div>
    </div>
    <!-- <div class="invalid-feedback"></div> -->
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Contraseña:</label>
    <div class="input-group">
      <span class="input-group-text"><i class="material-icons">lock</i></span>
      <input type="password" class="form-control" [ngClass]="validate('password')" id="password" name="password" formControlName="password" placeholder="Ingrese su contraseña">
      <div class="invalid-feedback">El campo es obligatorio</div>
    </div>
    <!-- <div class="invalid-feedback"></div> -->
  </div>

  <p class="form-text">
    Al registrarte estás de acuerdo con nuestros términos y condiciones.
  </p>

  <div class="d-flex align-items-center">
    <button type="submit" class="btn btn-primary ms-auto" [disabled]="form.invalid">Register</button>
  </div>
</form>

<div class="card-footer py-3">
  <p class="text-center m-0">Ya tienes cuenta? <a routerLink="/auth/login" class="text-dark">Inicia sesión</a></p>
</div>
