
<h1>Actualizar Datos</h1>
<hr>
<div class="row">
  <div class="col-5">
    <div class="card shadow">
      <div class="card-header">Foto de Perfil</div>
      <div class="card-body">
        <div class="mb-3 row justify-content-center">
          <div class="col-6">
            <div class="hover-overlay" (click)="openFile()">
              <img [src]="imgProfileURL"  alt="IMG Profile" class="rounded img-fluid">
              <div class="overlay rounded">
                <i class="material-icons">add_photo_alternate</i>
              </div>
            </div>
          </div>
        </div>
        <div class="input-group mt-3 justify-content-center">
          <p class="text-muted m-0">JPG, PNG o GIF. No más pesado que 5MB</p>
          <input type="file" class="form-control" id="inputGroupFile01" (change)="onFileSelected($event)" #inputFile>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="updateIMG()" [disabled]="!file.lastModified">Actualizar Imagen</button>
      </div>
    </div>
  </div>
  <div class="col-6">
    <form class="card shadow" [formGroup]="form" (submit)="submit()">
      <div class="card-header">Detalle de la cuenta</div>
      <div class="card-body">

        <div class="mb-3">
          <label for="name">Nombre:</label>
          <div class="input-group">
            <div class="input-group-text"><i class="material-icons">face</i></div>
            <input type="text" class="form-control" id="name" name="name" formControlName="name">
          </div>
        </div>

        <div class="mb-3">
          <label for="surname">Apellido:</label>
          <div class="input-group">
            <div class="input-group-text"><i class="material-icons">badge</i></div>
            <input type="text" class="form-control" id="surname" name="surname" formControlName="surname">
            <div class="invalid-feedback">El campo es obligatorio</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Correo Electrónico:</label>
          <div class="input-group">
            <div class="input-group-text"><i class="material-icons">email</i></div>
            <input type="text" class="form-control" id="email" name="email" formControlName="email">
            <div class="invalid-feedback">El campo es obligatorio</div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <input type="submit" class="btn btn-success" value="Actualizar Datos" [disabled]="!form.dirty">
      </div>
    </form>
  </div>
</div>
