<header>
  <img src="assets/logo2.png" alt="Musify Logo" />
</header>

<mat-card>
  <mat-card-content>
    @if (isLoading) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }

    <mat-tab-group dynamicHeight>
      <mat-tab label="Iniciar sesión">
        <ng-template matTabContent>
          <auth-login (loading)="isLoading = $event"></auth-login>
        </ng-template>
      </mat-tab>

      <mat-tab label="Registro">
        <ng-template matTabContent>
          <auth-register (loading)="isLoading = $event"></auth-register>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<footer>
  <p class="mat-caption">
    Copyright &copy; 2023 &mdash;
    <a href="https://github.com/mauroviveros" target="_blank">
      Mauro Daniel Viveros
    </a>
  </p>
</footer>
