<figure>
  <img src="assets/logo2.png" alt="Musify Logo" />
</figure>
<mat-card>
  <mat-card-content>
    <!-- <mat-tab-group mat-stretch-tabs> -->
    <mat-tab-group>
      <mat-tab label="Log In">
        <auth-login></auth-login>
      </mat-tab>
      <mat-tab label="Sign In">
        <auth-register></auth-register>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<footer>
  <p class="mat-caption">
    Copyright &copy; 2023 &mdash;
    <a href="https://github.com/maurodviveros" target="_blank">
      Mauro Daniel Viveros
    </a>
  </p>
</footer>
