<form class="card shadow" [formGroup]="form" (submit)="submit()">
  <div class="card-header">Detalle del Album</div>
  <div class="card-body">

    <div class="mb-3">
      <label for="name">Nombre:</label>
      <div class="input-group">
        <div class="input-group-text"><i class="material-icons">book</i></div>
        <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Ingrese el nombre del album">
      </div>
    </div>

    <div class="mb-3">
      <label for="year">Año:</label>
      <div class="input-group">
        <div class="input-group-text"><i class="material-icons">event</i></div>
        <input type="number" class="form-control" id="year" name="year" formControlName="year" min="0" placeholder="Ingrese el nombre del album">
      </div>
    </div>

    <div class="mb-3">
      <label for="artist">Artista:</label>
      <div class="input-group">
        <div class="input-group-text"><i class="material-icons">account_box</i></div>
        <select class="form-select" id="artist" name="artist" formControlName="artist">
          <option disabled selected value="">Seleccione el artista</option>
          <option [value]="artist._id" *ngFor="let artist of artists">{{ artist.name }}</option>
        </select>
      </div>
    </div>

    <div class="mb-3">
      <label for="description">Descripción:</label>
      <div class="input-group">
        <div class="input-group-text"><i class="material-icons">description</i></div>
        <textarea class="form-control" id="description" name="description" formControlName="description" cols="30" placeholder="Ingrese una descripción del album"></textarea>
        <div class="invalid-feedback">El campo es obligatorio</div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <input type="submit" class="btn btn-success" [value]="actionText" [disabled]="form.invalid">
  </div>
</form>
