<h1>Editar Canción</h1>
<hr>

<div class="row" *ngIf="song">
    <div class="col-4">
      <div class="card shadow">
        <div class="card-header">
          Archivo de Canción
        </div>
        <div class="card-body">
          <audio controls>
            <source [src]="getFile()" type="audio/mp3">
          </audio>
        </div>
        <div class="card-footer">
          <input type="file" class="form-control" id="file" name="file" hidden #inputFile accept="audio/mp3" (change)="updateFile($event)">
          <button class="btn btn-primary" (click)="inputFile.click()">Cambiar archivo</button>
        </div>
      </div>
    </div>
    <song-form class="col-6" [song]="song" [album]="song.album" [artist]="artist" (submitted)="submitData($event)" actionText="Actualizar Canción"></song-form>
</div>
