/* You can add global styles to this file, and also import other style files */
html, body{
  height: 100%;
}
body{
  display: flex;
  height: 100%;
  min-height: 100%;
  flex-direction: column;
  padding: 0 !important;
}

router-outlet + *{
  h1{
    display: flex;
    margin: 1rem;

    *:first-child{ flex: 1; }
  }
  hr{ margin: 0; }
}
