<form [formGroup]="form" (submit)="submit()">
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <mat-icon color="primary" matIconPrefix>face</mat-icon>
    <mat-hint align="end">
      {{ form.controls.name.value?.length | counter: MAX_LENGTH }}
    </mat-hint>
    <mat-error>{{ form.controls.name.errors | error }}</mat-error>
    <input
      type="text"
      placeholder="Ingrese su nombre"
      autocomplete="name"
      formControlName="name"
      matInput />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Apellido</mat-label>
    <mat-icon color="primary" matIconPrefix>badge</mat-icon>
    <mat-hint align="end">
      {{ form.controls.surname.value?.length | counter: MAX_LENGTH }}
    </mat-hint>
    <mat-error>{{ form.controls.surname.errors | error }}</mat-error>
    <input
      type="text"
      placeholder="Ingrese su apellido"
      autocomplete="family-name"
      formControlName="surname"
      matInput />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <mat-icon color="primary" matIconPrefix>email</mat-icon>
    <mat-error>{{ form.controls.email.errors | error }}</mat-error>
    <input
      type="email"
      placeholder="Email"
      autocomplete="email"
      formControlName="email"
      matInput />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <mat-icon color="primary" matIconPrefix>password</mat-icon>
    <mat-error>{{ form.controls.password.errors | error }}</mat-error>
    <input
      type="password"
      placeholder="Password"
      autocomplete="current-password"
      formControlName="password"
      matInput />
  </mat-form-field>

  <button
    type="submit"
    color="primary"
    [disabled]="form.invalid"
    mat-raised-button>
    Registrarme
  </button>

  <i class="mat-caption" align="end">
    Al registrarte estás de acuerdo con nuestros términos y condiciones.
  </i>
</form>
