:host{



  .progress.indeterminate{
    height: 2px;
    .progress-bar{
      position: relative;
      animation: progress-indeterminate 2s linear infinite;
    }
  }
  section{
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    nav{
      display: flex;
      justify-content: center;

      .page-item{
        cursor: pointer;
        &.disabled{ cursor: not-allowed; }
        .page-link .material-icons{ font-size: inherit; }
      }
    }

    article{
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }
  }

}

@keyframes progress-indeterminate {
   from { left: -25%; width: 25%; }
   to { left: 100%; width: 25%;}
}
