<main class="container">
  <div class="row justify-content-center">
    <div class="col-5">
      <div class="text-center my-5">
        <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="logo" width="100">
      </div>
      <div class="card shadow">
        <router-outlet></router-outlet>
      </div>
      <p class="text-center mt-5 text-muted m-0">
        Copyright &copy; 2023 &mdash; <a href="https://github.com/maurodviveros" target="_blank">Mauro Daniel Viveros</a>
      </p>
    </div>
  </div>
</main>
